* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {

    padding: 0 10px;
    margin: 0;
    background: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

h1, p {

    text-align: center;
}

p {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

a:link, a:hover, a:active, a:visited {

    -webkit-transition: color 150ms;
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
}

a:hover {

    color: #333;
    text-decoration: underline;
}

.container {

    width: 100%;
}

.slider {

    height: 214px;
    position: relative;
    margin: 0;
    padding: 0 4%;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.slider h3 {

    position: absolute;
    top: 20px;
    z-index: 2;
    margin-top: 0;
}

.slider .handle.handlePrev {

    left: 0;

}

.slider .handle.handleNext {

    right: 0;

}

.slider .handle.active {

    cursor: pointer;
}

.slider .handle {

    position: absolute;
    top: 0;
    height: 250px;
    bottom: 0;
    z-index: 20;
    width: 4%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.line {

    overflow: hidden;
}

.icon {

    width: 30px;
    height: 30px;
    border: 1px solid red;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    top: 45%;
    position: absolute;
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

.icon-right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 7%;
}

.icon-left {

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 37%;
}

.wrapper {

    -webkit-transition: 450ms -webkit-transform;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
    z-index: 3;
    position: relative;
}

.wrapper:hover {

    -webkit-transform: translate3d(-30.5px, 0, 0);
    transform: translate3d(-30.5px, 0, 0);
}

.wrapper:hover .item {

    opacity: 0.3;
}

.wrapper:hover .item:hover {

    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.wrapper:hover .item:last-child:hover {

    left: -120px;
}

.item {

    position: relative;
    display: inline-block;
    width: 250px;
    height: 140px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.item__img {

    width: 250px;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
}

.item__details {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
}

.item__details:after, .item__details:before {

    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
}

.item__details:after {

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.item__details:before {

    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin: 0 auto;
    content: "";
    z-index: 9;
}

.item:hover .item__details {

    opacity: 1;
}

.item__title {

    position: absolute;
    bottom: 5px;
    padding: 10px;
    left: 5px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.item:hover ~ .item {

    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0);
}
